* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

header {
  height: 70px;
}

header h1 {
  display: inline-block;
  padding: 15px 24px;
}

header h1 a:hover {
  color: gold;
}

header ul {
  float: right;
}

header li {
  padding: 24px;
  display: inline-block;
}

header ul li a:hover {
  color: gold;
}

a {
  text-decoration: none;
}

.atas {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.atas a {
  color: white;
}

.atas:after {
  content: '';
  display: block;
  clear: both;
}

.mobile-menu {
  float: right;
  display: none;
  padding: 18px;
}

.mobile-menu:hover {
  cursor: pointer;
}

/* #id {
  display: none;
} */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: black;
  transition: .3s;
}

.sidebar ul li a {
  color: white;
}

.sidebar ul li {    
  padding: 15px;
  transition: .3s;
  transition-property: background-color;
}

.sidebar ul li:hover {
  background-color: gray;
}

.sidebar ul li a:hover {
  color: gold;
}

#check:checked ~ .sidebar {
  left: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .art1 {
    text-decoration: underline; 
    color: ghostwhite; 
    transition: color 0.2s;
    box-shadow: 10px 10px 12px black;  
    color: #333; 
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0; 
    border: 1px solid;
  }

  .art1 h2 {
    margin-left: 10px;
  }

  .art1 p {
    margin-left: 10px;
  }
  
  article:hover {
    color: black; 
  }
  
  .art2 {
    text-decoration: underline; 
    color: ghostwhite; 
    transition: color 0.2s;
    box-shadow: 10px 10px 12px black;  
    color: #333; 
    width: 100%;
    max-width: 800px; 
    margin: 30px auto; 
    padding: 0; 
    border: 1px solid;
  }

  .art2 h2 {
    margin-left: 10px;
  }

  .art2 ol {
    margin-left: 10px;
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  img {
    display: block;
    margin: auto;
    max-width: 300px;
    height: auto;
    border-radius: 70px;
  }
  
  .info {
    margin-top: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  
  p {
    margin: 10px 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0 0 0 20px;
  }
  
  li {
    margin: 5px 0;
  }

  .skills-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  .skill {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .skill h3 {
    margin-bottom: 5px;
  }
  
  .skill-bar {
    width: 100%;
    background-color: #f0f0f0;
    height: 20px;
    border-radius: 5px;
  }
  
  .html {
    width: 95%; /* Ubah persentase sesuai dengan tingkat keterampilan Anda */
    height: 100%;
    background-color: #f44336;
    border-radius: 5px;
  }
  
  .css {
    width: 90%; /* Ubah persentase sesuai dengan tingkat keterampilan Anda */
    height: 100%;
    background-color: #2196F3;
    border-radius: 5px;
  }
  
  .javascript {
    width: 10%; /* Ubah persentase sesuai dengan tingkat keterampilan Anda */
    height: 100%;
    background-color: yellow;
    border-radius: 5px;
  }

  .persj {
    margin-left: 500px;
  }

  .persc {
    margin-left: 500px;
  }

  .persh {
    margin-left: 500px;
  }

  footer {
    width: 100%;
    height: 40px;
    background-color: grey;
    text-align: center;
    line-height: 40px;
    color: black;
    margin-top: 200px;

}
.pp aside {
  margin-left: -700px;
  margin-top: 50px;
}

.skills-container article {
  border: 1px solid;
  padding: 10px 30px 10px 20px;
  text-decoration: underline; 
    color: ghostwhite; 
    transition: color 0.2s;
    box-shadow: 10px 10px 12px black;  
    color: #333; 
    width: 100%;
    max-width: 800px; 
}