* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

header {
  height: 70px;
}

header h1 {
  display: inline-block;
  padding: 15px 24px;
}

header h1 a:hover {
  color: gold;
}

header ul {
  float: right;
}

header li {
  padding: 24px;
  display: inline-block;
}

header ul li a:hover {
  color: gold;
}

a {
  text-decoration: none;
}

.atas {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.atas a {
  color: white;
}

.atas:after {
  content: '';
  display: block;
  clear: both;
}

.mobile-menu {
  float: right;
  display: none;
  padding: 18px;
}

.mobile-menu:hover {
  cursor: pointer;
}

/* #id {
  display: none;
} */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: black;
  transition: .3s;
}

.sidebar ul li a {
  color: white;
}

.sidebar ul li {    
  padding: 15px;
  transition: .3s;
  transition-property: background-color;
}

.sidebar ul li:hover {
  background-color: gray;
}

.sidebar ul li a:hover {
  color: gold;
}

#check:checked ~ .sidebar {
  left: 0;
}


.contact-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin: 10px 0;
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 150px;
  }

  .icon {
    margin-right: 200px;
    display: flex;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .icon {
    margin: -10px 0 0 10px;
  }

footer {
    margin-top: 250px;
    background-color: grey;
    text-align: center;
    padding-top: 15px;
    color: black;
}
