* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

header {
    height: 70px;
}

header h1 {
    display: inline-block;
    padding: 15px 24px;
}

header h1 a:hover {
    color: gold;
}

header ul {
    float: right;
}

header li {
    padding: 24px;
    display: inline-block;
}

header ul li a:hover {
    color: gold;
}

a {
    text-decoration: none;
}

.atas {
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.atas a {
    color: white;
}

.atas:after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
}

.mobile-menu:hover {
    cursor: pointer;
}

/* #id {
    display: none;
} */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: black;
    transition: .3s;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li {    
    padding: 15px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: gray;
}

.sidebar ul li a:hover {
    color: gold;
}

#check:checked ~ .sidebar {
    left: 0;
}

.Gmails {
    float: left;
    margin-left: 300px;
    margin-top: 250px;

}

.Gmails p {
    margin-left: 130px;
    margin-top: -20px;
}

.Gmails button {
    text-align: center;
    margin-left: 45px;
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    position: absolute;
    top:50%;
    background-color: black;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: white;
    font-family: tahoma;
    cursor: pointer;
    transition: .8s ease-out;
}

.Gmails button:hover {
    box-shadow: 0 0 100px black;
    transition: .8s ease;
    font-size: 20px;
    font-weight: bold;
}

.Gmailp {
    float: left;
    margin-left: 300px;
    margin-top: 250px;
}

.Gmailp p {
    margin-top: -20px;
    margin-left: 90px;
}

.Gmailp button {
    text-align: center;
    margin-left: 45px;
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    position: absolute;
    top:50%;
    background-color: black;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: white;
    font-family: tahoma;
    cursor: pointer;
    transition: .8s ease-out;
}

.Gmailp button:hover {
    box-shadow: 0 0 100px black;
    transition: .8s ease;
    font-size: 20px;
    font-weight: bold;
}

footer {
    height: 40px;
    background-color: black;
    text-align: center;
    line-height: 40px;
    color: white;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}