* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

header {
    height: 70px;
}

header h1 {
    display: inline-block;
    padding: 15px 24px;
}

header h1 a:hover {
    color: gold;
}

header ul {
    float: right;
}

header li {
    padding: 24px;
    display: inline-block;
}

header ul li a:hover {
    color: gold;
}

a {
    text-decoration: none;
}

.atas {
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.atas a {
    color: white;
}

.atas:after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
}

.mobile-menu:hover {
    cursor: pointer;
}

/* #id {
    display: none;
} */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: black;
    transition: .3s;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li {    
    padding: 15px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: gray;
}

.sidebar ul li a:hover {
    color: gold;
}

#check:checked ~ .sidebar {
    left: 0;
}





.img-profile {
    border-radius: 50% 50%;
    width: 400px;
    transition: .7s ease-out;
}

.img-profile:hover {
    box-shadow: 0 0 100px black;
    transition: .7s ease;
}

main {
    padding: 44px 60px;
    background-color: white;
    margin-top: 50px;
}

.top-wrapper {
    display: flex;
    margin-bottom: 40px;
}

.top-wrapper h1 { 
    font-size: 44px;
    letter-spacing: 5px;
    margin-left: 100px;
    margin-top: 130px;
}

.top-wrapper h3 {
    font-size: 44px;
    letter-spacing: 5px;
    margin-left: 100px;
}

.top-wrapper p {
    font-size: 30px;
    margin-left: 100px;
}

footer {
    height: 40px;
    background-color: black;
    text-align: center;
    line-height: 40px;
    color: white;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}


