/* Your existing CSS */

@media screen and (max-width: 425px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sidebar {
    position: fixed;
    width: 200px;
    left: -100%;
    background-color: black;
    transition: .3s;
  }
} 

/* Media query for maximum width 768px */
@media screen and (max-width: 768px) {
  header {
    height: auto;
  }

  header h1 {
    padding: 15px 0;
    text-align: center;
  }

  header ul {
    float: none;
    text-align: center;
    margin-top: 20px;
  }

  header li {
    display: block;
    padding: 15px 0;
  }

  .mobile-menu {
    display: block;
    float: right;
    padding: 18px;
    margin-right: 50px;
    margin-top: 13px;
  }

  

  .sidebar ul li {
    padding: 15px;
    transition: .3s;
    transition-property: background-color;
    text-align: center;
  }

  .sidebar ul li:hover {
    background-color: gray;
  }

  .sidebar ul li a {
    color: white;
  }

  #check:checked ~ .sidebar {
    left: 0;
  }

  .container {
    max-width: 90%;
    margin: 50px auto;
    padding: 10px;
  }

  .art1,
  .art2 {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .persh,
  .persc,
  .persj {
    margin-left: 0;
  }

  footer {
    margin: 30px auto;
    border-radius: 0;
  }

  .pp aside {
    margin-left: 0;
    margin-top: 20px;
  }

  .skills-container article {
    margin: 20px auto;
    width: 90%;
    padding: 10px;
  }

.atas ul {
  display: none; 
}
}
